body{
  height: 400vh;
  padding-top: 3.125rem;
}

.header{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 3.75rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom: 0.0625rem solid rgb(229, 229, 229);
  z-index: 100;
  padding: 0 1.25rem;
}

.left-section{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-left: 3.125rem;
}

.ucommunity{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
  font-weight: 700;
  font-family: Roboto, Arial;
  text-shadow: 0px 0px 0.625rem rgba(0, 0, 0, 0.5);
}

.ucommunity .text-red{
  color: red;
}

.search-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 2.5rem;
  max-width: 31.25rem;
}

.search-container .hamburger-menu {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}


.search-bar{
  flex: 1;
  height: 1.5625rem;
  border: 0.0625rem solid rgb(229, 229, 229);
  box-shadow: inset 0.0625rem 0.125rem 0.1875rem rgba(0, 0, 0, 0.05);
  border-top-left-radius: 0.3125rem;
  border-bottom-left-radius: 0.3125rem;
  padding: 0.3125rem 0.9375rem;
}

.event-place{
  flex: 1;
  height: 1.5625rem;
  border: 0.0625rem solid rgb(229, 229, 229);
  box-shadow: inset 0.0625rem 0.125rem 0.1875rem rgba(0, 0, 0, 0.05);
  padding: 0.3125rem 0.9375rem;
}

.search-button{
  height: 2.25rem;
  width: 4.125rem;
  background-color: rgb(240, 240, 240);
  border-width: 0.0625rem;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  cursor: pointer;
  border-top-right-radius: 0.3125rem;
  border-bottom-right-radius: 0.3125rem;
}

.search-button:hover{
  background-color: rgb(230, 230, 230);
}

.search-button:active{
  background-color: rgb(230, 230, 230);
}

.search-icon{
  height: 1.5625rem;
  margin-top: 0.25rem;
}

.right-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 3.125rem;
}

.login-in-button{
  border: none;
  background-color: white;
  font-weight: bold;
  margin-right: 0.9375rem;
  cursor: pointer;
  transition: all 0.15s;
}

.login-in-button a{
  text-decoration: none;
  color: black;
}

.login-in-button a:hover{
  color: rgb(62, 181, 255);
}

.login-in-button a:active{
  color: rgb(62, 181, 255);
}

.sign-up-button{
  border: none;
  border-radius: 0.625rem;
  padding: 0.5rem 1.25rem;
  font-weight: bold;
  background-color:  rgb(0, 121, 138);
  color: white;
  cursor: pointer;
}

.sign-up-button:hover{
  background-color: rgb(0, 101, 118);
}

.sign-up-button:active{
  background-color: rgb(0, 101, 118);
}

.hero-section{
  padding-left: 6.25rem;
  padding-right: 6.25rem;
}

.main-section{
  display: flex;
  flex-direction: row;
  margin-top: 6.25rem;
  height: auto;
  font-family: Chivo, Arial;
  padding: 0 0.625rem;
  flex-wrap: wrap;
}

.welcome-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 34.375rem;
  margin: 0 auto;
}

.welcome-text{
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(43, 42, 42);
}

.welcome-text-about{
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-size: 1rem;
  text-align: justify;
}

.join-meet-button{
  background-color: rgb(0, 121, 138);
  color: white;
  border: none;
  border-radius: 0.625rem;
  padding: 0.625rem 1.25rem;
}

.join-meet-button:hover{
  background-color: rgb(1, 140, 164);
}

.event-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 3.125rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.event-left-section{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.event-text{
  font-size: 1.75rem;
  font-family: Chivo, Arial;
  font-weight: bold;
  margin-right: 0.9375rem;
}

.event-search-text{
  background-color: rgba(151, 202, 209, 0.12);
  border-radius: 0.5rem;
  padding: 0.5rem 0.9375rem;
  font-size: 1.5rem;
  font-family: Chivo, Arial;
  font-weight: bold;
}

.event-search-text a{
  color: rgb(0, 121, 138);
  text-decoration: none;
}

.event-search-text a:hover{
  color: rgb(0, 121, 138);
  text-decoration: underline;
}

.event-right-section{
  font-size: 1.125rem;
  font-family: Chivo, Arial;
  font-weight: 500;
}

.event-right-section a{
  color: rgb(0, 121, 138);
  text-decoration: none;
}

.event-right-section:hover{
  color: rgb(0, 121, 138);
  text-decoration: underline;
}

.event-section-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1.25rem;
  row-gap: 3.125rem;
}

.event-preview{
  margin-left: 10px;
  margin-top: 30px;
}

.event-picture{
  width: 18.75rem;
  height: 11.25rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.event-title{
  margin-top: 0.625rem;
  font-family: Arial;
  font-weight: bold;
  font-size: 1.25rem;
  width: 15.625rem;
}

.event-info{
  color: rgb(143, 143, 143);
  font-family: Arial;
  margin-top: 0.625rem;
}

.event-time-place {
  display: flex;
  align-items: center;
  font-family: Chivo, Arial;
  font-size: 1rem;
  color: #00798A;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.375rem;
  margin-bottom: 0.625rem;
  margin-top: 0.625rem;
}

.event-time-place i {
  margin-right: 10px;
  color: #00798A;
}

.event-time-place:hover {
  background-color: rgba(151, 202, 209, 0.2);
}

.event-people {
  display: flex;
  align-items: center;
  font-family: Chivo, Arial;
  font-size: 1rem;
  color: #00798A;
  /* background-color: rgba(151, 202, 209, 0.12); */
  padding: 0.625rem 0.9375rem;
  border-radius: 0.375rem;
}

.event-people i {
  margin-right: 5px;
  color: #00798A;
}

.event-people .fa-ticket {
  margin-left: 10px;
}

.event-people:hover {
  background-color: rgba(151, 202, 209, 0.2);
}

.up-coming-event-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 9.375rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.join-meetup-section{
  background-color: rgba(151, 202, 209, 0.08);
  border-radius: 0.5rem;
  margin-top: 6.25rem;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.join-meetup-text-container{
  display: flex;
  flex-direction: column;
  width: 800px;
}

.join-meetup-text{
  font-family: Chivo, Arial;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 3.125rem;
  margin-top: 2.5rem;
  margin-bottom: 1.875rem;
}

.join-meetup-about{
  font-family: Chivo, Arial;
  font-size: 18px;
  margin-left: 50px;
}

.join-meetup-signup-button{
  background-color: rgb(227, 35, 89);
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  font-family: Chivo, Arial;
  padding: 10px 70px; 
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 40px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.15s;
}

.join-meetup-signup-button:hover{
  background-color: rgb(227, 35, 89, 0.8);
}

.join-meetup-signup-button:active{
  background-color: rgb(227, 35, 89, 0.8);
}

.join-meetup-image-container{
  margin-left: 70px;
  margin-right: 50px;
}

.explore-category-section-text{
  margin-top: 3.125rem;
  font-family: Chivo, Arial;
  font-weight: bold;
  font-size: 1.75rem;
  margin-bottom: 1.875rem;
}

.explore-category-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 1.25rem;
  row-gap: 3.125rem;
}

.category-preview{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(151, 202, 209, 0.08);
  height: 7.5rem;
  width: 8.5rem;
  border-radius: 0.625rem;
  cursor: pointer;
}

.category-preview:hover{
  background-color: rgba(34, 77, 82, 0.09);
}

.category-picture{
  width: 1.25rem;
  object-fit: cover;
}

.category-title{
  font-family: Chivo, Arial;
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 0.625rem;
  text-align: center;
}


@media (max-width: 1248px){
  .welcome-text{
    font-size: 36px;
    line-height: 40px;
  }
  .welcome-text-about{
    font-size: 16px;
  }
}

@media (max-width: 749px){
  .welcome-text{
    font-size: 30px;
  }
  .welcome-text-about{
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 544px){
  .welcome-text{
    font-size: 24px;
  }
  .welcome-text-about{
    font-size: 12px;
  }
}

@media (min-width: 0px) and (max-width: 723px){
  .event-text{
    white-space: nowrap;
  }
  .event-search-text{
    margin-right: 2rem;
    margin-left: 2rem;
  }
  .event-right-section a{
    white-space: nowrap;
  }
}

@media (max-width: 747px) and (max-width: 918px){
  .search-bar{
    display: none;
  }
  .event-place{
    display: none;
  }
  .search-button{
    display: none;
  }
}
